.body{
    padding:10px 20px;
}

.component{
    margin-top: 20px;
}

.commonInput{
    margin-top: 8px;
}
.avatar-item {
    margin-right: 24px;
}

.badgeDiv{
    width: 32px;
    height: 32px;
    margin-top: 20px;
    background-color: #ececec;
}
.ant-scroll-number-only-unit current{
    background-color: blue;
    width: 10px;
}