
.click{
  width: 100px;
  height: 40px;
  background-color: #27be7f;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #727272;
  margin: 10px 0 100px 100px;
}
.show{
  top: 50px;
  background-color: bisque;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #727272;
}