@import "~react-md/dist/react-md";
@include react-md-utils;

*{padding: 0;margin: 0;}

.mainBody{
    width: 90%;
    height: 100%;
    margin: auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.tans{
    width: 100%;
    height: 100%;
}
.tab{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    flex: 1;

}
.dialogTitle{
    color: #1c9ec5;
}
.title{
    padding: 10px 20px;
}